{% assign b-ID         = block.id %}
{% assign b-BgColor    = block.settings.btn_background_color | default: settings.color_primary %}
{% assign b-TextColor  = block.settings.btn_text_color | default: settings.text_color_light %}

<style>
  .btn--{{ b-ID }}, .btn--{{ b-ID }}:hover {
    background: {{ b-BgColor }};
    border-color: {{ b-BgColor }};
    color: {{ b-TextColor }};
  }
</style>
{% if post.video.ready? %}
  <div class="panel__block">
    <a kjb-settings-id="{{ 'language_download' | settings_id: section: section,block: block }}" href="{{ post.video.url }}" class="btn btn--block btn--solid btn--med btn--{{ b-ID }}" download>{{ block.settings.language_download }}</a>
  </div>
{% else %}
  {% if editor %}
    <div class="panel__block editor-null">
      Post Video Download Will Show Here
    </div>
  {% endif %}
{% endif %}
