{% include "panel_style", bgColor: "#fff" %}

{% if section.settings.show_syllabus %}
  {% if section.settings.type == "posts" %}
    {% paginate product.categories by 10 %}
      {% for category in paginate.collection %}
        {% if category.pending_drip? %}
          <div class="panel syllabus" kjb-settings-id="{{ 'type' | settings_id: section: section }}">
            <div class="panel__body">
              <h5 class="syllabus__heading">
                {{ category.title }}
                <span kjb-settings-id="{{ 'coming_soon' | settings_id: section: section }}">&nbsp;{{ section.settings.coming_soon }}</span>
              </h5>
            </div>
          </div>
        {% else %}
          <div class="panel syllabus" kjb-settings-id="{{ 'type' | settings_id: section: section }}">
            <div class="panel__body">
              <h5 class="syllabus__heading">
                {{ category.title }}
              </h5>
              {% for post in category.posts limit:10%}
                {% include "syllabus_item" %}
              {% endfor %}
              {% if category.posts.size >= 10 %}
                <div class="syllabus__item">
                  <a href="{{ category.url }}" kjb-settings-id="{{ 'show_more' | settings_id: section: section }}">{{ section.settings.show_more }}</a>
                </div>
              {% endif %}
              {% if category.children? %}
                {% for category in category.subcategories %}
                  {% if category.pending_drip? %}
                    <div class="syllabus__item syllabus__item--sub" id="category-{{ category.id }}">
                      <h5 class="syllabus__heading">
                        {{ category.title }}
                        <span kjb-settings-id="{{ 'coming_soon' | settings_id: section: section }}">&nbsp;{{ section.settings.coming_soon }}</span>
                      </h5>
                    </div>
                  {% else %}
                    <div class="syllabus__item syllabus__item--sub" id="category-{{ category.id }}">
                      <h5 class="syllabus__heading">
                        {{ category.title }}
                      </h5>
                      {% for post in category.posts %}
                        {% include "syllabus_item" %}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% if paginate.pages > 1 %}
        <div class="pag__wrapper">
          {% include "pagination" %}
        </div>
      {% endif %}
    {% endpaginate %}
  {% else %}
    <div class="panel syllabus" kjb-settings-id="{{ 'type' | settings_id: section: section }}">
      <div class="panel__body">
        <h5 class="syllabus__heading" kjb-settings-id="{{ 'categories' | settings_id: section: section }}">{{ section.settings.categories }}<span class="pull-right">{{ current_product.categories.size }}</span></h5>
        {% paginate current_product.categories by 10 %}
          {% for category in paginate.collection %}
            {% include "category" %}
          {% endfor %}
          {% if paginate.pages > 1 %}
            {% include "pagination" %}
          {% endif %}
        {% endpaginate %}
      </div>
    </div>
  {% endif %}
{% endif %}
